input {
    clear: left;
    height: 2em;
    width: 45%;
}

#people {
    width: 100%;
}

.person {
    width: 24%;
    float: left;
    border: 1px solid black;
    margin: 2px;
}

img {
    width: 45%;
    padding: 1%;
    height: auto;
}

.yellow {
    background: yellow;
}

.blue {
    background: lightblue;
}

.clicked {
    border: 3px dotted green;
}
